@model LibraryManagementSystem.ViewModels.StackResponseViewModel
@{
    ViewBag.Title = "GetQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Questions</h1>

<div class="container">
    @foreach (var item in Model.items)
    {
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">@item.title ?</h5>
                <p class="card-text">
                    @foreach (var tag in item.tags)
                    {
                        <span class="label label-default">@tag.ToString()</span>
                        <span> | </span>
                    }
                </p>
                <a asp-action="Details" asp-route-id="@item.question_id">Details</a>
            </div>
            <div class="card-footer text-muted">
                <a class="me-3" href="#">
                    <img class="rounded-circle shadow-1-strong" src="@item.owner.profile_image" alt="avatar" width="65"
                    height="65" />
                </a>
                Publisher Name: @item.owner.display_name | Publish Date: @item.creation_date | Last activity:
                @item.creation_date
            </div>
        </div>
        <br />
    }
</div>